@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
  color: #248277;
}

.custom-btn {
  padding: 5px 20px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #14746f;
  border: none;
  border-radius: 20px;
  font: bold;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}
.custom-btn:hover {
  background-color: #036666;
}
.custom-bg {
  background-color: #efedf1;
}

.custom-outline-btn {
  padding: 5px 20px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #051c34;
  background-color: transparent;
  border: 1px solid #036666;
  border-radius: 20px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease;
}

.custom-outline-btn:hover {
  color: white;
  background-color: #051c34;
}
